/* Base générale */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/moov.png');
    height: 100vh;
}

/* === Style pour la page de connexion uniquement === */
body.login-page {
    background-image: url('/static/images/img.png');
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.login-container h2 {
    font-size: 28px;
    color: #1e293b;
    margin-bottom: 20px;
    text-align: center;
}

.login-container .form-label {
    font-size: 16px;
    color: #333;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    font-size: 16px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #1e293b;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #1e293b;
}

.login-container p {
    text-align: center;
    margin-top: 10px;
}

.login-container a {
    color: #3b82f6;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/* === Responsive === */
@media (max-width: 768px) {
    .login-container {
        width: 90%;
        max-width: 320px;
        padding: 20px;
    }
}
button, .btn-add, button[type="submit"] {
    background-color: #ff6f00;
    color: white;
    box-shadow: 0 4px 8px rgba(255,111,0,0.35);
}

button:hover, .btn-add:hover, button[type="submit"]:hover {
    background-color: #ff9100;
    box-shadow: 0 6px 14px rgba(255,145,0,0.45);
}