<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Agences</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_compt.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <!-- Drawer -->
    <div class="drawer" id="drawer">
        <h2>Menu</h2>
        <ul>
            <li><a href="{{ url_for('index_admin') }}">Home</a></li>
            <li><a href="{{ url_for('statistiques') }}">Statistiques</a></li>
            <li><a href="{{ url_for('analyse_temporelle') }}">Analyse temporelle</a></li>
            <li><a href="{{ url_for('utilisateurs') }}">Utilisateurs</a></li>
            <li><a href="{{ url_for('se_deconnecter') }}" class="btn-logout">Se déconnecter</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="main-content">
        <header>
            <button class="toggle-btn" onclick="toggleDrawer()">☰</button>
            <h1>Tableau de Bord</h1>
        </header>
        <h2>Liste des agences</h2>
        <div class="btn-container" align="center">
            <a href="{{ url_for('ajouter_agence') }}" class="btn-add">Ajouter une agence</a>
        </div>
        <table class="data-table">
            <thead>
                <tr>
                    <th>Nom de l'agence</th>
                    <th>Localisation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for agence in agences %}
                <tr>
                    <td>{{ agence[1] }}</td>
                    <td>{{ agence[2] }}</td>
                    <td>
                        <a href="{{ url_for('utilisateurs_par_agence', agence_id=agence[0]) }}" class="btn-view">Voir utilisateurs</a>
                        <a href="{{ url_for('modifier_agence', id=agence[0]) }}" class="btn-edit">Modifier</a>
                        <a href="{{ url_for('supprimer_agence', id=agence[0]) }}" class="btn-delete" onclick="return confirm('Êtes-vous sûr ?')">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function toggleDrawer() {
            document.getElementById('drawer').classList.toggle('open');
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.data-table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/fr-FR.json"
                }
            });
        });
    </script>
</body>
</html>
