<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_compt.css') }}">
</head>
<body>

    <header>
        <a href="{{ url_for('utilisateurs') }}" class="back-button">← Retour</a>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
              <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="{{ url_for('static', filename='images/img.png') }}" alt="Logo Moov" height="40" class="me-2">
              </a>
            </nav>
    </header>
    <br>
    <br>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Ajouter un utilisateur</h2>
        <form method="POST" action="{{ url_for('ajouter_utilisateur') }}">
            <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" required>
            </div>
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" name="nom" required>
            </div>
            <div class="mb-3">
                <label for="sexe" class="form-label">Sexe</label>
                <select class="form-control" id="sexe" name="sexe" required>
                    <option>Genre</option>
                    <option value="Homme">Homme</option>
                    <option value="Femme">Femme</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" class="form-control" id="login" name="login" required>
            </div>
            <div class="mb-3">
                <label for="agence_id" class="form-label">Agence</label>
                <select class="form-control" id="agence_id" name="agence_id" required>
                    <option value="">-- Sélectionner une agence --</option>
                    {% for agence in agences %}
                        <option value="{{ agence[0] }}">{{ agence[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="role">Rôle :</label>
                <select name="role" id="role">
                    <option value="">-- Sélectionner une role --</option>
                    <option value="agent">Agent</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="mot_de_passe" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="mot_de_passe" name="mot_de_passe" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Ajouter</button>
        </form>
    </div>
</body>
</html>
