<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier la Réclamation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_compt.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}" class="back-button">← Retour</a>
    </header>
    <br><br>

    <div class="container mt-5">
        <h1>Modifier la Réclamation</h1>
        <form method="POST">

            <!-- Objet -->
            <div class="form-group">
                <label for="objet">Objet:</label>
                <select id="objet" name="objet" required>
                    {% for obj in objets %}
                        <option value="{{ obj }}" {% if reclamation[0] == obj %}selected{% endif %}>{{ obj }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Canal -->
            <div class="form-group">
                <label for="canal">Canal:</label>
                <select id="canal" name="canal" required>
                    {% for c in canaux %}
                        <option value="{{ c }}" {% if reclamation[3] == c %}selected{% endif %}>{{ c }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- État -->
            <div class="form-group">
                <label for="etat">Etat:</label>
                <select id="etat" name="etat" required>
                    {% for etat in etats %}
                        <option value="{{ etat }}" {% if reclamation[4] == etat %}selected{% endif %}>{{ etat }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Date de saisie -->
            <div class="form-group">
                <label for="date_saisie">Date de Saisie:</label>
                <input type="datetime-local" id="date_saisie" name="date_saisie" value="{{ reclamation[8] | datetimeformat('%Y-%m-%d %H:%M:%S') }}" required>
            </div>


            <!-- Date de clôture -->
            <div class="form-group">
                <label for="date_cloture">Date de Clôture:</label>
                <input type="datetime-local" id="date_cloture" name="date_cloture" value="{{ reclamation[12] | datetimeformat('%Y-%m-%d %H:%M:%S') }}">
            </div>


            <div class="form-group">
                <button type="submit">Modifier</button>
            </div>
        </form>
    </div>
</body>
</html>
