<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier Utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_compt.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</head>
<body>

    <header>
        <a href="{{ url_for('profil') }}" class="back-button">← Retour</a>
    </header>

    <div class="container">
        <h2>Modifier Utilisateur</h2>
        <form method="POST">
            <div>
                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" id="prenom" value="{{ utilisateur[1] }}" required>
            </div>
            <div>
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" value="{{ utilisateur[2] }}" required>
            </div>
            <div>
                <label for="sexe">Sexe</label>
                <select name="sexe" id="sexe" required>
                    <option value="Homme" {% if utilisateur[3] == 'Homme' %}selected{% endif %}>Homme</option>
                    <option value="Femme" {% if utilisateur[3] == 'Femme' %}selected{% endif %}>Femme</option>
                </select>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{ utilisateur[4] }}" required>
            </div>
            <button type="submit">Enregistrer les modifications</button>
        </form>
    </div>

</body>
</html>
