<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil de l'utilisateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_compt.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</head>
<body>

    <header>
        <a href="{{ url_for('index') }}" class="back-button">← Retour</a>
    </header>

    <div class="profile-card">

        <h2 class="main-content">Votre profil</h2>

        <table>
            <tr>
                <th>Prénom</th>
                <td>{{ utilisateur[1] }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur[2] }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ utilisateur[3] }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur[7] }}</td>
            </tr>
        </table>
        <ul>
            <li><a href="{{ url_for('modifier_utilisateur', id=session['user_id']) }}" class="btn-add">Modifier Profil</a></li><br>
            <li><a href="{{ url_for('changer_mot_de_passe') }}" class="btn-add">Changer mot de passe</a></li>
        </ul>
    </div>

    <script>
        function toggleDrawer() {
            document.getElementById('drawer').classList.toggle('open');
        }
    </script>
</body>
</html>
