<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>

    <div class="login-container">
        <h2 class="text-center">Connexion</h2>
        <form method="POST" action="{{ url_for('se_connecter') }}">
            <div class="mb-3">
                <label for="userlogin" class="form-label">Login d'utilisateur</label>
                <input type="text" class="form-control" id="userlogin" name="userlogin" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Se connecter</button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
